@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
box-sizing: border-box;
padding: 0;
}
* {
 margin: 0;
}
html, body {
height: 100%;
font-family: 'Josefin Sans', sans-serif;
font-size: 18px;
}
body{
line-height: 1.5;
-webkit-font-smoothing: antialiased;
--white-font:#ffffff;
--input-text:#393A4B;
--input-border:#97979;
--page-bg:hsl(0, 0%, 95%);
--line-through:hsl(233, 11%, 84%);
--x-color:hsl(235, 19%, 35%);
--list-color:hsl(235, 19%, 35%);
--input-bg:#ffffff;
--bright-blue: hsl(220, 98%, 61%);
--circle-color:hsl(236, 33%, 92%);
--sort-color:hsl(236, 9%, 61%);
--very-light-gray: hsl(0, 0%, 98%);
--very-light-grayish-blue: hsl(236, 33%, 92%);
--light-grayish-blue: hsl(233, 11%, 84%);
--dark-grayish-blue: hsl(236, 9%, 61%);
--very-dark-grayish-blue: hsl(235, 19%, 35%);
--check-background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
--gut:hsl(235, 19%, 35%);

}
.dark-switch{
    --input-text:hsl(234, 39%, 85%);
    --input-bg:hsl(235, 24%, 19%);
    --input-border:hsl(0, 0%, 59%);
    --line-through:hsl(233, 14%, 35%);
    --x-color:hsl(235, 16%, 43%);
    --list-color:hsl(234, 39%, 85%);
    --page-bg:hsl(235, 21%, 11%);
    --circle-color:hsl(237, 14%, 26%);
    --bright-blue: hsl(220, 98%, 61%);
    --sort-color: #5B5E7E;
    --check-background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%)

}
/*Dark mode colors*/
body{
--very-dark-blue: hsl(235, 21%, 11%);
--very-dark-desaturated-blue: hsl(235, 24%, 19%);
--light-grayish-blue: hsl(234, 39%, 85%);
--light-grayish-blue-hover: hsl(236, 33%, 92%);
--dark-grayish-blue: hsl(234, 11%, 52%);
--very-dark-grayish-blue: hsl(233, 14%, 35%);
--very-dark-grayish-blue: hsl(237, 14%, 26%);
}
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
input, button, textarea, select {
font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}
.wholePage{
    min-width: 100vw;
    min-height: 100vh;   
    background-color: var(--page-bg);
   
}

.dark-mode{
    background: url(images/bg-desktop-dark.jpg);
    background-color: switch;
}   

.hero-image{
    width: 100%;
    height: 300px;
    background: url(images/bg-desktop-light.jpg);
    background-size: cover;
}
.dark-hero{
    width: 100%;
    height: 300px;
    background: url(images/bg-desktop-dark.jpg);
    background-size: cover;
}
.todo-container{
    width: 541px;
    margin: 0 auto;
    transform: translateY(-250px);
}

.todo-header{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-header h2{
    color: white;
    font-weight: 700px;
    font-size:40px;
    
}

#input-task{
    width: 100%;
    height: 64px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    background-color: var(--input-bg);
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    border-radius: 0.3rem;
    margin-top: 2rem;
}

.circle{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid var(--circle-color);
}

#input{
    display: block;
    width: 90%;
    border: none;
    outline: none;
    background-color: var(--input-bg);
    color: var(--input-text);
}
#list-container{
    width: 100%;
    margin-top:1rem;
    background-color: var(--input-bg);
    border-radius: 0.3rem;
}

#list-container li{
    list-style: none;
    padding:  1rem 2rem 1rem 54px;
    color: var(--list-color);
    /* height: 64px; */
    border-bottom: 1px solid var(--circle-color);
    user-select: none;
    cursor: pointer;
    position: relative;
    display: flex;
}


#list-container li::before{
    content: '';
    position:absolute;
    display: grid;
    place-content: center;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid var(--circle-color);
    background-size: cover;
    background-position: center;
    left: 1rem;
    transition: border 0.3s ease; /* Add transition for smooth hover effect */

}

#list-container li:hover:not(.checked)::before {
    content: url(images/Group\ 4.png);
    border: none;
    top: 1rem;
  }


#list-container .checked{
    color:var(--line-through);
    text-decoration: line-through;
    }
    #list-container .checked::before{
     content: url(images/icon-check.svg);
    background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    }
   
    #list-container li span{
        position: absolute;
        right: 1rem;
        top: 5px;
        width: 40px;
        height: 100%;
        color: var(--x-color);
        display: none;
        place-content: center;
        text-align: center;
      
    } 
    #list-container li:hover span{
        display: grid;
    }

    .actions{
        padding: 1rem;
        font-size: 14px;
        display: none;
        justify-content: space-between;
        background-color: var(--input-bg);
        color: var(--sort-color);
        border-bottom-left-radius: 0.3rem;
        border-bottom-right-radius:0.3rem ;
    }

    .filter-data{
        display: flex;
          gap: 1rem;
    }

    .filter-data p{
        cursor: pointer;
    }

    .filter-data p:hover{
        color: var(--list-color)
        ;
    }
    .sortOnMobile p{
        cursor: pointer;

    }

    .clear{
        cursor: pointer;
    }

    .sortOnMobile{
        display: none;
    }
   
    .activecolor{
        color: var(--bright-blue);
    }
    
    .dragging{
        opacity:0.5 ;
    }

    .drag-info{
        color: var(--sort-color);
        font-size: 14px;
        margin: 2rem auto;
        text-align: center;
    }

    .extra{
        display: none;
    }
    .hide{
        display: none;
    }

@media(max-width:400px){
    body{
        font-size: 12px;
    }
    .wholePage{
        overflow-y: scroll;
    }
    .hero-image{
        height: 200px;
        background:url(images/bg-mobile-light.jpg) ;
        background-size: cover;
    }
    .dark-hero{
        width: 100%;
        height: 200px;
        background: url(images/bg-mobile-dark.jpg);
        background-size: cover;
    }

    .todo-container{
        max-width: 323px;
        margin: 0 auto;
    transform: translateY(-150px);
    }
    .todo-header h2{
        font-size: 24px;
    }

    #input-task{
        height: 48px;
    }
    #list-container li{
        padding: 0.6rem 1rem;
    }
    .circle{
        width: 20px;
        height: 20px;
        
    }
    #list-container li{
        padding-left: 3rem;
    }
    #list-container li::before{
        height: 20px;
        width: 20px;
    }
    #list-container li span{
        display: grid;
        
    }
    #list-container li span img{
        width: 12px;
}
.filter-data{
    display: none;
}

.sortOnMobile{
    width: 100%;
    background-color: var(--input-bg);
    display: flex;
    padding: 1rem;
    justify-content: center;
    margin-top: 1rem;
    border-radius: 0.3rem;
    color: var(--sort-color);

}
#mobileSort p{
    cursor: pointer;
}
}